html,
body,
#root {
  width: 100%;
  min-width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  max-width: none;
}